{% extends 'base.html.twig' %}

{% block title %}Modifier un Article
{% endblock %}
    {% block importmap %}
  {{ importmap(["app","alert",'ckeditor-init']) }}
  {% endblock %}
{% block body %}
	<div class="container mx-auto px-4">
		<div class="grid grid-cols-8 gap-4">
			{% block left %}
				{% include('redaction/article/side.html.twig') %}
			{% endblock %}
			<div class="col-start-3 col-span-4">
				{% block center %}
					{% include 'redaction/article/update_form.html.twig' %}
				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}